


@page "/ContactsPage"

@inject UserManager<IdentityUser> _UserManager

@inject IDbContextFactory<MedicalDbContext>  ContextFactory


    <style>
        .is-right {
            text-align: right;
        }
    </style>

<div class="container">
    <div class="mt-5" >
        <Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.Two"  >
            <BootstrapInput @bind-Value="@Querywhere" placeholder="请输入名称或者病历号" ShowLabel="false"></BootstrapInput>
            <div class="form-group col-auto">
                <div class="btn-group" role="group">
                    <Button Color="Color.Primary" Icon="oi oi-magnifying-glass" Size="Size.Medium" @onclick="@(s=>OnQueryContacts())"> 查 询 </Button>
                    <Button Color="Color.Success" Icon="oi oi-plus" Size="Size.Medium" @onclick="@(s=>OnCreateContacts())"> 新 建 </Button>
                </div>
            </div>
        </Row>
        <div class="container mt-5">
            <table class="table table-sm text-center">
                <thead class="mytable">
                    <tr>
                        <th>NO.</th>
                        <th>病历号</th>
                        <th>患者姓名</th>
                        <th>患者电话</th>
                        <th>邮箱</th>
                        <th>单位及地址</th>
                        <th>记录时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (contacts != null)
                    {
                        int i = 0;
                        foreach (var item in contacts)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.Medicalrecordnumber</td>
                                <td>@item.Name</td>
                                <td>@item.Contactnumber</td>
                                <td>@item.Emai</td>
                                <td>@item.Address</td>
                                <td>@item.CreateTime</td>
                                <td><button class="btn" @onclick="@(s=>OnDelContacts(item.ID))">删除</button></td>
                            </tr>
                        }
                        @*@for (int i = 0; i < contacts.Count; i++)
                        {
                            var sid = Telephones[i].Id;
                            <tr>
                                <td>@i</td>
                                <td>@Telephones[i].department</td>
                                <td>@Telephones[i].extnum</td>
                                <td>@Telephones[i].CreateTime</td>
                                <td><button class="btn" @onclick="@(s=>DelTelephones(sid))">删除</button></td>
                            </tr>
                        }*@
                    }
                </tbody>
            </table>
        </div>
    </div>

    <Message @ref="MessageElement" />
</div>

@code{
    private List<Contacts> contacts { set; get; }

    private Contacts _Contacts { set; get; } = new();


    private Message MessageElement { set; get; }

    [Inject]
    private MessageTag MessageTagservice { set; get; }

    [Inject]
    public DialogService? Dialogservice { set; get; }

    private string Querywhere { set; get; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override void OnInitialized()
    {
        using (var context = ContextFactory.CreateDbContext())
        {
            var uer = authenticationStateTask.Result.User.Identity.Name;
            contacts =  context.Contacts.AsNoTracking().Where(w => w.Emainame == uer).ToList();
        }
        base.OnInitialized();
    }

    private async Task GetContacts(string name)
    {
        using (var context = ContextFactory.CreateDbContext())
        {

            contacts = await context.Contacts.AsNoTracking().Where(w => w.Emainame == name).ToListAsync();
        }
    }

    private async Task OnCreateContacts()
    {
        var result = await Dialogservice.ShowModal<ContactsDlg>(new ResultDialogOption()
        {
            Title = "新建联系人信息",
            BodyContext = new Contacts(),
            // ShowCloseButton = true,
            ButtonYesText = "选择",
            ButtonYesIcon = "fa fa-search",
            ComponentParamters = new KeyValuePair<string, object>[]
            {
            //new(nameof(EditReportCard.TemplateParameter), Certificatetemplate),
            new(nameof(ContactsDlg.OnEventCallback), EventCallback.Factory.Create<Contacts>(this, v => _Contacts = v))
            }
        });

        if (result == DialogResult.Yes)
        {
            //InfoService.UpdatePatientInfo(patientInfo);
            //UpdateDate();
            using (var context  = ContextFactory.CreateDbContext() )
            {
               // var uer = authenticationStateTask.Result.User.Identity.Name;

               // var user =  await _UserManager.GetUserAsync(authenticationStateTask.Result.User);

                _Contacts.Emainame = authenticationStateTask.Result.User.Identity.Name;
                _Contacts.CreateTime = DateTime.Now;
                context.Contacts.Add(_Contacts);
                context.SaveChanges();
                contacts.Add(_Contacts);
            }

            MessageTagservice.ShowColorMessage(Color.Danger, "医患信息添加成功", MessageElement);
        }
        StateHasChanged();
        return;
    }

    private async Task OnDelContacts(int id)
    {
        using (var context = ContextFactory.CreateDbContext())
        {

            var reContacts = await context.Contacts.Where(w => w.ID == id).AsNoTracking().FirstAsync();
            if (reContacts != null)
            {
                context.Contacts.Remove(reContacts);
                context.SaveChanges();
                contacts.Remove(reContacts);
            }
        }
        StateHasChanged();
    }

    private async Task OnQueryContacts()
    {
        using (var context = ContextFactory.CreateDbContext())
        {
            var uer = authenticationStateTask.Result.User.Identity.Name;
            contacts.Clear();
            if (Querywhere!=null)
            {
                contacts =  await context.Contacts.AsNoTracking().Where(w=>w.Emainame== uer).Where(w => w.Name.Contains(Querywhere) || w.Medicalrecordnumber.Contains(Querywhere)).ToListAsync();


            }
            if(Querywhere == null)
            {
                contacts = await context.Contacts.AsNoTracking().Where(w => w.Emainame == uer).ToListAsync();

            }

        }
        StateHasChanged();
        return;
    }
}