


@page "/HomeDetailsPage/{guid}"

@inject PatientInfoService pservice
@inject IDbContextFactory<MedicalDbContext> contextFactory
@inject NavigationManager   navigationManager


<style>
    .listview .listview-body .listview-item {
        width: 100%;
        margin: 0 1rem 1rem 0;
    }
</style>

<div class="d-flex justify-content-between row w-100">

    <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
        <div class="laft_top">
            <ul class="demo-ul">
                <li><Anchor Target="anchor1" Offset="50">基本信息</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor2" Offset="50">临床微生物检查</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor3" Offset="50">药敏试验</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor4" Offset="50">药物基因组学</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor5" Offset="50">病原菌基因</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor6" Offset="50">给药方案</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor7" Offset="50">纤维支气管镜检查</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor8" Offset="50">影像学检查</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor9" Offset="50">病理检查</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor10" Offset="50">实验室检查</Anchor></li>
                <li class="pt-3"><Anchor Target="anchor11" Offset="50">药学监护流程</Anchor></li>
            </ul>
        </div>
    </div>


    <div class=" col-10 col-sm-10 col-lg-10 col-xl-10 row d-flex justify-content-center">
        <div class="jumbotron" id="anchor1">
            @*style="background-color:darkgray"*@
            <h1 class="display-4">@patientInfo.Username</h1>


            <div class="lead">
                <!--<EditorForm Model="@patientInfo" ItemsPerRow="5" IsDisplay="true">-->
                @*<FieldItems>
                        <EditorItem @bind-Field="@Model." Data="@Hobbys" />
                    </FieldItems>*@
                <!--</EditorForm>-->

                <ValidateForm Model="@patientInfo">
                    <Row ItemsPerRow="ItemsPerRow.Six" RowType="RowType.Normal">
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Medicalrecordnumber" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Department" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Gender" />

                        <Display ShowLabel="true" @bind-Value="@patientInfo.AGE" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.BW" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.BWWeight" />
                    </Row>
                    <Row ItemsPerRow="ItemsPerRow.Six" RowType="RowType.Normal">

                        <Display ShowLabel="true" @bind-Value="@patientInfo.HEI" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.BMI" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.BSA" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Transplantationtime" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Transplantationtime" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Transplantationtype" />
                    </Row>
                    <Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.Six">
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Admissiontime" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Dischargetime" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.GCS" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.SOFA" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.APACHEⅡ" />
                        @*<Display ShowLabel="true" @bind-Value="@patientInfo.Medication" />*@
                    </Row>
                    @*<Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.Three">
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Pathogenicbacteria" />
                        <Display ShowLabel="true" @bind-Value="@patientInfo.Healingeffect" />
                    </Row>*@
                    <!--<Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.Six">-->
                        @*<Row RowType="RowType.Normal" ColSpan="5">
                            <Textarea IsDisabled="true" rows="3" @bind-Value="@patientInfo.Medicalhistorysummary" />
                        </Row>*@
                        <!--<a class="btn btn-primary btn-lg" href="" role="button">其他入院记录信息</a>
                    </Row>-->
                </ValidateForm>

            </div>
            <hr class="my-4">
            <p>系统档案录入时间：@patientInfo.Createtime</p>
        </div>


        <div id="anchor2">
            @if (PD_Microbiologicals is not null)
            {
            <ListView TItem="MedicalPD_Microbiological" Items="PD_Microbiologicals">
                @*<HeaderTemplate>  <p class="h3">临床微生物检查</p></HeaderTemplate>*@
                <HeaderTemplate>
                    <div class="d-flex justify-content-between">
                        <div><p class="h3">临床微生物检查</p></div>
                        <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"PD_MicrobiologicalPage"))"></button></div>
                    </div>
                </HeaderTemplate>
                <BodyTemplate>
                    <Card Class="w-100">
                        <CardBody>
                            <div class="h5">是否做检查： @context.TestorisNot</div>
                            <Row ItemsPerRow="ItemsPerRow.Two">

                                <div>检测日期： @context.TestTime</div>
                                <div>标本类型： @context.SpecimenType</div>
                                <div>报告时间： @context.ReportTime</div>
                                <div>检出细菌： @context.Bacterial</div>
                            </Row>
                            @*@if (@context.medicalPKSamplings is not null)
                    {

                        foreach (var item in @context.medicalPKSamplings)
                        {
                            var c = $"C{@item.SamplingNumber}采样";

                            <GroupBox Title="@c">
                                <div class=" row col-12">
                                    <div class="col-2">浓度:@item.C1Concentration  @item.C1ConcentrationUnit.ToString()/ml</div>
                                    <div class="col-3">标准化血药浓度:@item.C1ConcentrationStandard</div>
                                    <div class="col-2">浓度方法:@item.C1ConcentrationMethod??@item.Other</div>
                                    <div class="col-5">备注:@item.C1Remarks</div>
                                </div>
                            </GroupBox>
                        }
                    }*@
                            <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                        </CardBody>
                    </Card>
                </BodyTemplate>
            </ListView>}

        </div>

        <div id="anchor3">
            @if (PD_DrugAllergies is not null)
            {
            <ListView TItem="MedicalPD_DrugAllergy" Items="PD_DrugAllergies">
                @*<HeaderTemplate>  <p class="h3">药敏试验检查</p></HeaderTemplate>*@
                <HeaderTemplate>
                    <div class="d-flex justify-content-between">
                        <div><p class="h3">药敏试验检查</p></div>
                        <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"PD_DrugAllergy_Page"))"></button></div>
                    </div>
                </HeaderTemplate>
                <BodyTemplate>
                    <Card Class="w-100">
                        <CardBody>
                            <div class="h5">是否做检查： @context.TestorisNot</div>
                            <Row ItemsPerRow="ItemsPerRow.Two">

                                <div>检测日期： @context.TestTime</div>

                                <div>报告时间： @context.ReportTime</div>
                                <div>药敏检测法： @context.DrugsensitivityTest 或者其他： @context.DrugsensitivityTestOther  </div>
                                <div>MIC： @context.MIC</div>
                                <div>敏感性： @context.Susceptibility</div>
                                <div>T>MIC%:： @context.TMic</div>
                                <div>AUCSS,24h/MIC： @context.AUCMic</div>
                            </Row>
                            @*@if (@context.medicalPKSamplings is not null)
                    {

                        foreach (var item in @context.medicalPKSamplings)
                        {
                            var c = $"C{@item.SamplingNumber}采样";

                            <GroupBox Title="@c">
                                <div class=" row col-12">
                                    <div class="col-2">浓度:@item.C1Concentration  @item.C1ConcentrationUnit.ToString()/ml</div>
                                    <div class="col-3">标准化血药浓度:@item.C1ConcentrationStandard</div>
                                    <div class="col-2">浓度方法:@item.C1ConcentrationMethod??@item.Other</div>
                                    <div class="col-5">备注:@item.C1Remarks</div>
                                </div>
                            </GroupBox>
                        }
                    }*@
                            <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                        </CardBody>
                    </Card>
                </BodyTemplate>
            </ListView>}

        </div>

        <div id="anchor4">
            @if (PG_Pharmacogenomics is not null)
            {
            <ListView TItem="MedicalPG_Pharmacogenomics" Items="PG_Pharmacogenomics">
                @*<HeaderTemplate> <p class="h3">基因药物组学</p></HeaderTemplate>*@
                <HeaderTemplate>
                    <div class="d-flex justify-content-between">
                        <div><p class="h3">基因药物组学</p></div>
                        <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"PG_PharmacogenomicsPage"))"></button></div>
                    </div>
                </HeaderTemplate>
                <BodyTemplate>
                    <Card Class="w-100">
                        <CardBody>
                            <div class="h5">基因名称： @context.Genes</div>
                            <Row ItemsPerRow="ItemsPerRow.Two">

                                <div>RS号： @context.Rs</div>


                                <div>基因结果： @context.GenesResults  </div>
                                <div>代谢性： @context.Metabolictype</div>
                                <div>意义： @context.Exegesis</div>

                            </Row>
                            @*@if (@context.medicalPKSamplings is not null)
                    {

                        foreach (var item in @context.medicalPKSamplings)
                        {
                            var c = $"C{@item.SamplingNumber}采样";

                            <GroupBox Title="@c">
                                <div class=" row col-12">
                                    <div class="col-2">浓度:@item.C1Concentration  @item.C1ConcentrationUnit.ToString()/ml</div>
                                    <div class="col-3">标准化血药浓度:@item.C1ConcentrationStandard</div>
                                    <div class="col-2">浓度方法:@item.C1ConcentrationMethod??@item.Other</div>
                                    <div class="col-5">备注:@item.C1Remarks</div>
                                </div>
                            </GroupBox>
                        }
                    }*@
                            <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                        </CardBody>
                    </Card>
                </BodyTemplate>
            </ListView>}
        </div>

        <div id="anchor5">
            @if (PG_PathogenGenes is not null)
            {
            <ListView TItem="MedicalPG_PathogenGene" Items="PG_PathogenGenes">
                <HeaderTemplate>
                    <div class="d-flex justify-content-between">
                        <div><p class="h3">病原菌基因</p></div>
                        <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"PG_PathogenGenePage"))"></button></div>
                    </div>
                </HeaderTemplate>
                @*<HeaderTemplate><p class="h3">病原菌基因</p> </HeaderTemplate>*@
                <BodyTemplate>
                    <Card Class="w-100">
                        <CardBody>
                            <div class="h5">致病菌名称： @context.PathogenName</div>
                            <Row ItemsPerRow="ItemsPerRow.Two">

                                <div>致病菌菌体基因名： @context.PathogenicGeneName</div>


                                <div>致病菌菌体基因检测结果： @context.PathogenicGeneDetectionResults  </div>

                                <div>意义： @context.Exegesis</div>

                            </Row>
                            @*@if (@context.medicalPKSamplings is not null)
                    {

                        foreach (var item in @context.medicalPKSamplings)
                        {
                            var c = $"C{@item.SamplingNumber}采样";

                            <GroupBox Title="@c">
                                <div class=" row col-12">
                                    <div class="col-2">浓度:@item.C1Concentration  @item.C1ConcentrationUnit.ToString()/ml</div>
                                    <div class="col-3">标准化血药浓度:@item.C1ConcentrationStandard</div>
                                    <div class="col-2">浓度方法:@item.C1ConcentrationMethod??@item.Other</div>
                                    <div class="col-5">备注:@item.C1Remarks</div>
                                </div>
                            </GroupBox>
                        }
                    }*@
                            <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                        </CardBody>
                    </Card>
                </BodyTemplate>
            </ListView>}

        </div>

        <div id="anchor6">
            @if (medicalPKs is not null)
            {
            <ListView TItem="MedicalPK" Items="medicalPKs">
                <HeaderTemplate>
                    <div class="d-flex justify-content-between">
                        <div><p class="h3">给药方案</p></div>
                        <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"MedicalPKPage"))"></button></div>
                    </div>
                </HeaderTemplate>
              @*  <HeaderTemplate><p class="h3">给药方案</p></HeaderTemplate>*@
                <BodyTemplate>
                    <Card Class="w-100">
                        <CardBody>
                            <div class="h5">药品通用名： @context.DrugsNmae</div>
                            <Row ItemsPerRow="ItemsPerRow.Four">

                                <div>溶媒： @context.DrugSolvent</div>


                                <div>溶媒剂量： @context.SolventToDosage  </div>

                                <div>药品剂量： @context.Drugdosage  @context.DrugdosageUnit </div>
                                <div>给药频率： @context.DrugNCount</div>
                                <div>给药途径： @context.DrugdosageRoute</div>
                                <div>起始给药日期： @context.FirstTime</div>
                                <div>结束给药日期： @context.LasttTime</div>
                                <div>公斤体质量日剂量： @context.AMTsingledose</div>
                                <div>厂家类型： @context.Manufacturertype</div>
                                @*  药品通用名
                        溶媒
                        溶媒剂量
                        药品剂量
                        给药频率
                        给药途径
                        起始给药日期
                        结束给药日期
                        公斤体质量日剂量
                        厂家类型 *@
                            </Row>
                            @*@if (@context.medicalPKSamplings is not null)
                    {

                        foreach (var item in @context.medicalPKSamplings)
                        {
                            var c = $"C{@item.SamplingNumber}采样";

                            <GroupBox Title="@c">
                                <div class=" row col-12">
                                    <div class="col-2">浓度:@item.C1Concentration  @item.C1ConcentrationUnit.ToString()/ml</div>
                                    <div class="col-3">标准化血药浓度:@item.C1ConcentrationStandard</div>
                                    <div class="col-2">浓度方法:@item.C1ConcentrationMethod??@item.Other</div>
                                    <div class="col-5">备注:@item.C1Remarks</div>
                                </div>
                            </GroupBox>
                        }
                    }*@
                            <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                        </CardBody>
                    </Card>
                </BodyTemplate>
            </ListView>}

        </div>


        <div id="anchor7">
            @if (X_Raybronchoscopies is not null)
            {
                <ListView TItem="X_raybronchoscopy" Items="X_Raybronchoscopies">
                    <HeaderTemplate>
                        <div class="d-flex justify-content-between">
                            <div><p class="h3">纤维支气管镜检查</p></div>
                            <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"X_RayBronchoscopyPage"))"></button></div>
                        </div>
                    </HeaderTemplate>
                    <BodyTemplate>
                        <Card Class="w-100">
                            <CardBody>

                                <Row ItemsPerRow="ItemsPerRow.One">

                                    <div>检查日期： @context.Photodate</div>


                                    <div>报告日期： @context.Reportdate  </div>


                                    <div>部位： @context.Xraylocation</div>
                                    <div>检查结果： @context.Xrayinspection</div>
                                </Row>
                                <Row ItemsPerRow="ItemsPerRow.Six">
                                    @if (@context.ImgUrl is not null)
                                    {
                                        foreach (var item in @context.ImgUrl)
                                        {
                                            <img src="@item.ImgUrl" style="width:150px; " />
                                        }
                                    }

                                </Row>

                                <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                            </CardBody>
                        </Card>
                    </BodyTemplate>
                </ListView>}

        </div>
        <div id="anchor8">
            @if (X_RayImagings is not null)
            {
                <ListView TItem="X_rayImaging" Items="X_RayImagings">
                    <HeaderTemplate>
                            <div class="d-flex justify-content-between">
                                <div><p class="h3">影像学检查</p></div>
                                <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"X_rayImagingPage"))"></button></div>
                            </div>
                    </HeaderTemplate>
                    <BodyTemplate>
                        <Card Class="w-100">
                            <CardBody>

                                <Row ItemsPerRow="ItemsPerRow.One">

                                    <div>检查日期： @context.Photodate</div>


                                    <div>报告日期： @context.Reportdate  </div>

                                    <div>放射诊断方式： @context.Xrayimagingenum  </div>
                                    <div>放射诊断部位： @context.XrayImaginglocationenum</div>
                                    <div>详细描述： @context.Describe</div>


                                </Row>
                                <Row ItemsPerRow="ItemsPerRow.Six">
                                    @if (@context.ImgUrl is not null)
                                    {
                                        foreach (var item in @context.ImgUrl)
                                        {
                                            <img src="@item.ImgUrl" style="width:150px; " />
                                        }
                                    }

                                </Row>

                                <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                            </CardBody>
                        </Card>
                    </BodyTemplate>
                </ListView>}
        </div>

        <div id="anchor9">
            @if (X_Raypathologicals is not null)
            {
            <ListView TItem="X_raypathological" Items="X_Raypathologicals">
               @* <HeaderTemplate><p class="h3">病理检查</p></HeaderTemplate>*@
                <HeaderTemplate>
                    <div class="d-flex justify-content-between">
                        <div><p class="h3">病理检查</p></div>
                        <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"X_raypathologicalPage"))"></button></div>
                    </div>
                </HeaderTemplate>
                <BodyTemplate>
                    <Card Class="w-100">
                        <CardBody>

                            <Row ItemsPerRow="ItemsPerRow.One">

                                <div>检查日期： @context.Photodate</div>


                                <div>报告日期： @context.Reportdate  </div>


                                <div>部位： @context.Xraylocation</div>
                                <div>检查结果： @context.Xrayinspection</div>
                            </Row>
                            <Row ItemsPerRow="ItemsPerRow.Six">
                                @if (@context.ImgUrl is not null)
                                {
                                    foreach (var item in @context.ImgUrl)
                                    {
                                        <img src="@item.ImgUrl" style="width:150px; " />
                                    }
                                }

                            </Row>

                            <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                        </CardBody>
                    </Card>
                </BodyTemplate>
            </ListView>
            }
        </div>

        <div id="anchor10">
            @if (LaboratoryExaminations is not null)
            {
            <ListView TItem="LaboratoryExamination" Items="LaboratoryExaminations">
                @*<HeaderTemplate><p class="h3">实验室检查</p></HeaderTemplate>*@
                <HeaderTemplate>
                    <div class="d-flex justify-content-between">
                        <div><p class="h3">实验室检查</p></div>
                        <div>  <button class="createroundbut fa fa-plus " @onclick="@(()=>NavigateEvent(patientInfo,"LaboratoryExaminationPage"))"></button></div>
                    </div>
                </HeaderTemplate>

                <BodyTemplate>
                    <Card Class="w-100">
                        <CardBody>

                            <Row ItemsPerRow="ItemsPerRow.One">

                                <div>检测时间： @context.Assaytime</div>


                                <div>实验状态： @context.Assaysituation  </div>

                                <div>体温°C： @context.BodyTemperature </div>
                                <div>血清肌酐实验方法： @context.Screnum</div>
                                <div>血清肌酐值(Scr)μmol/L： @context.Scr</div>
                            </Row>

                            <div class="d-flex align-content-center justify-content-end"> <p class="text-muted font-weight-light text-monospace"><small>表单记录时间：@context.Createtime</small></p></div>
                        </CardBody>
                    </Card>
                </BodyTemplate>
            </ListView>
            }
        </div>
        <div id="anchor11">

        </div>

    </div>
</div>





@code {

    [Parameter]
    public string guid { set; get; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string AdminNmae { set; get; }

    private PatientInfo patientInfo { set; get; } = new();
    private PatientInfoExDiagnosisTable patientInfoEx { set; get; } = new();

    public Dictionary<string, object?> PatientInfokeyValuePairs { set; get; }
    public Dictionary<string, object?> X_raybronchoscopykeyValuePairs { set; get; }
    // public Dictionary<string, object?> X_raybronchoscopyPathskeyValuePairs { set; get; }
    public Dictionary<string, object?> X_rayImagePathskeyValuePairs { set; get; }
    public Dictionary<string, object?> X_rayImagingkeyValuePairs { set; get; }
    public Dictionary<string, object?> X_raypathologicalkeyValuePairs { set; get; }
    public Dictionary<string, object?> PD_DrugAllergykeyValuePairs { set; get; }
    public Dictionary<string, object?> PD_MicrobiologicalkeyValuePairs { set; get; }
    public Dictionary<string, object?> PG_PathogenGenekeyValuePairs { set; get; }
    public Dictionary<string, object?> PG_PharmacogenomicskeyValuePairs { set; get; }
    public Dictionary<string, object?> PKkeyValuePairs { set; get; }
    public Dictionary<string, object?> MedicalPKSamplingkeyValuePairs { set; get; }
    public Dictionary<string, object?> LaboratoryExaminationValuePairs { set; get; }



    private List<MedicalPD_Microbiological> PD_Microbiologicals { set; get; }
    private List<MedicalPD_DrugAllergy> PD_DrugAllergies { set; get; }

    private List<MedicalPG_PathogenGene> PG_PathogenGenes { set; get; }
    private List<MedicalPG_Pharmacogenomics> PG_Pharmacogenomics { set; get; }

    private List<MedicalPK> medicalPKs { set; get; }

    private List<X_raybronchoscopy> X_Raybronchoscopies { set; get; }
    private List<X_rayImaging> X_RayImagings { set; get; }
    private List<X_raypathological> X_Raypathologicals { set; get; }

    private List<LaboratoryExamination> LaboratoryExaminations { set; get; }




    protected override Task OnParametersSetAsync()
    {

        return base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (guid is not null)
        {
            await GetInitializedData();
            await GetDictionary_KeyValue();
        }

        return;// base.OnInitializedAsync();
    }

    /// <summary>
    /// 获取数据
    /// </summary>
    /// <returns></returns>
    private async Task GetInitializedData()
    {
        patientInfo = await pservice.GetPatientInfo(guid);

        var number = patientInfo.Medicalrecordnumber;
        using (var context = contextFactory.CreateDbContext())
        {
            var name = authenticationStateTask.Result.User.Identity.Name;

            PD_Microbiologicals = await context.MPD_Microbiologicals.AsNoTracking().Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).ToListAsync();
            PD_DrugAllergies = await context.MPD_Drugs.Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();
            PG_PathogenGenes = await context.MPG_PathogenGenes.Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();
            PG_Pharmacogenomics = await context.MPG_Pharmacogenomics.Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();
            medicalPKs = await context.MPKs.Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();

            X_Raybronchoscopies = await context.X_raybronchoscopys.Include(i => i.ImgUrl).Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();
            X_RayImagings = await context.X_rayImagings.Include(i => i.ImgUrl).Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();
            X_Raypathologicals = await context.X_raypathologicals.Include(i => i.ImgUrl).Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();

            LaboratoryExaminations = await context.laboratoryExaminations.Where(w => w.Adminname == name).Where(f => f.Medicalrecordnumber == number).AsNoTracking().ToListAsync();
        }

    }

    /// <summary>
    /// 获取表格数据字典
    /// </summary>
    /// <returns></returns>
    private async Task GetDictionary_KeyValue()
    {
        await Task.Run(() =>
        {

            PatientInfokeyValuePairs = DisplayAttributeExtend.GetAttributeExtends<PatientInfo>(patientInfo);

        });
    }


    private  Task NavigateEvent(PatientInfo patient,string url)
    {

        var nav = $"{url}/{patient.Medicalrecordnumber}/{patient.Username}";
        navigationManager.NavigateTo(nav);
        return Task.CompletedTask;
    }
}
