@page "/"


@inject UserManager<IdentityUser> Usermanager

<div class="divtop w-100 divtop">
    <div class=" content px-4 ">

        <div class="d-flex align-items-center pl-5">
            <h1>患者信息列表</h1>
        </div>
        <div class="row d-flex justify-content-between align-items-center margintop">

            <Search IgnoreCase="true" IsLikeMatch="true" PlaceHolder="请输入医患关键字" ShowClearButton="true" Items="@Items" OnSearch="@OnSearch2" OnClear="@OnClear"></Search>
            <div class="pr-5">
                @*<Button ButtonStyle="ButtonStyle.Circle" class="addbut" IsOutline="true" >添加</Button>*@
                <button type="button" class="addbut oi oi-plus" @onclick="@CreateAddDlg"></button>
            </div>
        </div>
    </div>
   
</div>


@*<div  class="body w-100">


    <PatientInfoDlg></PatientInfoDlg>
</div>*@
<div class="body w-100">
    <div class="listview">
        <Scroll class="scroll-demo" Height="800px">
        </Scroll>
        <ListView TItem="PatientInfo" style="border: 0px;" Pageable="true" OnQueryAsync="@OnQueryPageAsync">
            <BodyTemplate>
                <Card style="width:565px;height:160px;">
                    <CardBody>
                        <Tlist PatientInfo="@context"></Tlist>
                    </CardBody>
                </Card>
            </BodyTemplate>
            <FooterTemplate>
                <div class="text-right">
                    Coptyright Bootstrap Blazor
                </div>
            </FooterTemplate>
        </ListView>
    </div>
    <Message @ref="MessageElement" />
</div>
@code{

    private int pagesize { set; get; } = 30;

    protected override async Task OnInitializedAsync()
    {
        await GetForecastAsync(DateTime.Now);
    }
    //public BodyTemplate bodyTemplate { set; get; }











}
