@page "/"

<h1>患者详情信息</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<EditorForm Model="@patientInfo" AutoGenerateAllItem="true" >
    @*<FieldItems>
        <EditorItem @bind-Field="@patientInfo." Editable="false" />
        <EditorItem @bind-Field="@Model.Complete" Editable="false" />
        <EditorItem @bind-Field="@Model.Hobby">
            <EditTemplate Context="value">
                @{
                    var model = value as Foo;
                }
                <div class="form-group col-12">
                    <CheckboxList TValue="IEnumerable<string>" @bind-Value="@model!.Hobby" Items="@Hobbys" ShowLabel="true" DisplayText="@Localizer[nameof(Foo.Hobby)]" />
                </div>
            </EditTemplate>
        </EditorItem>
    </FieldItems>*@
    <Buttons>
        <Button Icon="fa fa-save" Text="提交" />
    </Buttons>
</EditorForm>

@code{

    public PatientInfo patientInfo { set; get; } = new PatientInfo();

}
