@page "/"


@inject UserManager<IdentityUser> Usermanager


    <div class=" divtop  w-100" >
        <div class="container pt-5 ">
            <Row ItemsPerRow="ItemsPerRow.One">
                <p class="h3"> 患者信息列表</p>
            </Row>
            <div class="pt-4"></div>
            <Row ItemsPerRow="ItemsPerRow.Two">
                <Search IgnoreCase="true" IsLikeMatch="true" PlaceHolder="请输入医患关键字..." ShowClearButton="true" Items="@Items" OnSearch="@OnSearch2" OnClear="@OnClear"></Search>
                <Button type="button" class="addbut oi oi-plus" @onclick="@CreateAddDlg"></Button>
            </Row>
        </div>
    </div>
@*<div  class="body w-100">
    <PatientInfoDlg></PatientInfoDlg>
</div>*@
<div class="body w-100">
    <div class="listview">
        <Scroll class="scroll-demo">
        </Scroll>
        <ListView TItem="PatientInfo" style="border: 1px;" Pageable="true" OnQueryAsync="@OnQueryPageAsync">
            <BodyTemplate>
                <Card Color="Color.Info" style="width:300px;">
                    <CardBody>
                        <h5 class="card-title">病例号:@context.Medicalrecordnumber </h5>
                        <Row RowType="RowType.FormRow" ItemsPerRow="ItemsPerRow.Two">
                            <h6>姓名:@context.Name</h6>
                            <h6 class="card-title">科室:@context.Department </h6>
                        </Row>
                       
                        <Row  RowType="RowType.FormRow" ItemsPerRow="ItemsPerRow.Three">
                            <p>年龄:@(DateTime.Now.Year - context.AGE.Value.Year) 岁</p>
                            <p>身高:@context.HEI cm</p>
                            <p>体重:@context.BW kg</p>
                        </Row>
                        <Row RowType="RowType.FormRow" ItemsPerRow="ItemsPerRow.Three">
                            <p>BMI:@context.BMI</p>
                            <p>Bsa:@context.BSA.Substring(0, 3)</p>
                            <p>Bsa:@context.Gender</p>
                        </Row>

                    </CardBody>
                </Card>
            </BodyTemplate>
        </ListView>
    </div>
    <Message @ref="MessageElement" />
</div>
@code{

    private int pagesize { set; get; } = 30;

    protected override async Task OnInitializedAsync()
    {
        await GetForecastAsync(DateTime.Now);
    }
    //public BodyTemplate bodyTemplate { set; get; }











}
