

@page "/PD_DrugAllergy_Page"


<div class=" divtop d-flex  align-items-center">

    <div class="  w-100 ">
        <Card>
            <CardHeader>
                查询条件
            </CardHeader>
            <CardBody>
                <Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.Two">

                    <Search IgnoreCase="true" IsLikeMatch="true" @bind-Value="@Querywhere" placeholder="请输入关键信息..." OnSearch="@(s=>OnSearch())"></Search>

                    <button class="createbut fa fa-plus " @onclick="@OnShowDlg"></button>
                </Row>
            </CardBody></Card>
              
    </div>
</div>

<div>
    <Card>
        <CardHeader>
            查询结果
        </CardHeader>
        <CardBody>
            <Table TItem="MedicalPD_DrugAllergy" ShowLoading="true" IsPagination="true" IsStriped="true" IsBordered="true"
                   ShowToolbar="true" ShowAddButton="false" ShowEditButton="false"
                   ShowDeleteButton="false" OnQueryAsync="@OnQueryAsync" IsAutoRefresh="true"
                   ShowExtendButtons="true" ShowColumnList="true" AutoGenerateColumns="true">
                <RowButtonTemplate>
                    @* <TableCellButton Size="Size.ExtraSmall" Color="Color.Primary" Icon="fa fa-edit" Text="明细" OnClickCallback="@(() => OnRowDetailedClick(context,1))" />*@
                    <TableCellButton Size="Size.ExtraSmall" Color="Color.Warning" Icon="fa fa-edit" Text="删除" OnClickCallback="@(() => Ondel(context))" />
                </RowButtonTemplate>
            </Table>
        </CardBody></Card>
          
</div>
<Message @ref="MessageElement" />

@code {

    [Inject]
    private MessageService messageService { set; get; }

    private Message MessageElement { set; get; }

    [Inject]
    DialogService? Dialogservice { set; get; }

    [Inject]
    IDbContextFactory<MedicalDbContext> contextFactory { set; get; }

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { set; get; }

    private string Querywhere { set; get; }

    private List<MedicalPD_DrugAllergy> pD_DrugAllergies  { set; get; } = new();

    private MedicalPD_DrugAllergy pD_DrugAllergie { set; get; } = new();

    protected override async Task OnParametersSetAsync()
    {

        await OnSearch();
        return; // await base.OnParametersSetAsync();
    }

    private async Task OnSearch()
    {
        using (var context = contextFactory.CreateDbContext())
        {
            var adminname = authenticationStateTask.Result.User.Identity.Name;
            if(Querywhere is not null)
            {
                pD_DrugAllergies =await context.MPD_Drugs.AsNoTracking().Where(w => w.Medicalrecordnumber.Contains(Querywhere)||w.UserName.Contains(Querywhere)).ToListAsync();

            }
            else
            {
                pD_DrugAllergies =await context.MPD_Drugs.AsNoTracking().Where(w => w.AdminName == adminname).Take(100).ToListAsync();
            }
        }
        StateHasChanged();
        return; //Task.CompletedTask;
    }

    private Task<QueryData<MedicalPD_DrugAllergy>> OnQueryAsync(QueryPageOptions options)
    {
        // 内存分页
        var items = pD_DrugAllergies.Skip((options.PageIndex - 1) * options.PageItems).Take(options.PageItems).ToList();

        return Task.FromResult(new QueryData<MedicalPD_DrugAllergy>()
        {
            Items = items,
            TotalCount = pD_DrugAllergies.Count
            // IsSearch = true
        });
    }

    private async Task OnShowDlg()
    {
        var result = await Dialogservice.ShowModal<PD_DrugAllergy_Dlg>(new ResultDialogOption()
        {
            Title = "新建药敏试验检查",
            BodyContext = new MedicalPD_DrugAllergy(),
            Size = Size.ExtraSmall,
            ComponentParamters = new KeyValuePair<string, object>[]
              {
                //new(nameof(EditReportCard.TemplateParameter), Certificatetemplate),
                      new(nameof(PD_DrugAllergy_Dlg.OnEventCallback), EventCallback.Factory.Create<MedicalPD_DrugAllergy>(this, v => pD_DrugAllergie = v))
              }
        });

        if (result == DialogResult.Yes)
        {
            using (var context = contextFactory.CreateDbContext())
            {
                if (pD_DrugAllergie != null)
                {
                    pD_DrugAllergie.CreateTime = DateTime.Now;
                    pD_DrugAllergie.AdminName = authenticationStateTask.Result.User.Identity.Name;
                    context.MPD_Drugs.Add(pD_DrugAllergie);
                    context.SaveChanges();
                    pD_DrugAllergies.Add(pD_DrugAllergie);
                    ShowColorMessage(Color.Success, "新建药敏试验检查", MessageElement);
                }
            }
            // MessageTagservice.ShowColorMessage(Color.Danger, "医患信息添加成功", MessageElement);
        }
        return;

    }
    public void ShowColorMessage(Color color, string content, Message message)
    {
        message.SetPlacement(Placement.Top);
        messageService?.Show(new MessageOption()
        {
            Host = message,
            Content = content,
            Icon = "fa fa-info-circle",
            Color = color
        });
    }
    private Task OnRowEditClick()
    {
        return Task.CompletedTask;
    }
    [Inject]
    private SwalService? SwalService { get; set; }

    private async Task Ondel(MedicalPD_DrugAllergy myobject)
    {
        var op = new SwalOption()
        {
            Title = "警告",
            Content = "数据删除不可再恢复，是否确定删除？",
            IsConfirm = true,
            Category = SwalCategory.Warning
        };
        var re = await SwalService.ShowModal(op);
        if (re)
        {

            using (var context = contextFactory.CreateDbContext())
            {
                context.MPD_Drugs.Remove(myobject);
                var ok = context.SaveChanges();
                if (ok > 0)
                {
                    pD_DrugAllergies.Remove(myobject);
                    StateHasChanged();
                }
                else
                {
                    ShowColorMessage(Color.Warning, "数据删除失败", MessageElement);

                }
            }
        }
        return;
    }

}
