
@page "/PK"


@inject WeatherForecastService ForecastService

<h1>PG</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<div style="width: 1066px; overflow-x: auto; overflow-y: auto">

    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    @foreach (var item in keyValuePairs)
                    {
                        <th>@item</th>

                    }
                    @*<th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code{


    public List<string> keyValuePairs { set; get; }

    private WeatherForecast[] forecasts;



    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        keyValuePairs = DisplayAttributeExtend.GetAttributeExtend<MedicalPG>(new MedicalPG());
    }

}
