


@page "/SummaryOfCasesPage"
@using System.Globalization


<div class= row top-row>
    <div class="col-9">
        <div class=" d-flex  align-items-center">
    <ValidateForm Model="@summaryOfCases">

        <Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.One">
            <label>患者信息</label>
           <AutoFill TValue="PatientsTips" Value="patientsTips" Items="DataTips.PatientsTips" IsLikeMatch="true" OnSelectedItemChanged="OnAutoFillSelectedItemChanged" OnGetDisplayText="OnGetDisplayText" class="mb-3" IsSelectAllTextOnFocus="true">
                            <Template>
                                <div class="d-flex">
                                    <div>
                                        <img src="/img/gezi.png" class="bb-avatar" style="max-width:48px;" />
                                    </div>
                                    <div class="ps-2">
                                        <div>@context.Number</div>
                                        <div class="bb-sub">@context.Description</div>
                                    </div>
                                </div>
                            </Template>
            </AutoFill>
        </Row>
        <Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.Three">
            <Select @bind-Value="@summaryOfCases.Medication" Items="EnumItems.MedicationEnum" />
            <Select @bind-Value="@summaryOfCases.Pathogenicbacteria" Items="EnumItems.PathogenicbacteriaEnum" />
            <Select @bind-Value="@summaryOfCases.Healingeffect" Items="EnumItems.HealingeffectEnum" />

        </Row>

        <Row RowType="RowType.Normal" ItemsPerRow="ItemsPerRow.One">
         @*   <Textarea rows="6" @bind-Value="@summaryOfCases.Medicalhistorysummary" />
*@          <label>病史概要</label>
            <Markdown @bind-Value="@summaryOfCases.Medicalhistorysummary" Height="500" MinHeight="300" Placeholder="这是 Markdown" PreviewStyle="PreviewStyle.Tab" InitialEditType="InitialEditType.Wysiwyg" Language="@Language" ></Markdown>
        </Row>
    </ValidateForm>
</div>
    </div>
    <div class="col-3">
        <div>
            <ul>
                <li>asdasdasdasd</li>
            </ul>
            <ul>
                <li>asdasdasdasd</li>
            </ul>

        </div>
    </div>
</div>





    @code {

    private SummaryOfCases summaryOfCases { set; get; } = new();

    private string Language{ set; get; }
    protected override Task OnInitializedAsync()
    {
       Language = CultureInfo.CurrentUICulture.Name;
        return base.OnInitializedAsync();
    }

    public PatientsTips patientsTips{ set; get; }  

    private Task OnAutoFillSelectedItemChanged(PatientsTips tips )
    {
        summaryOfCases.Medicalrecordnumber = tips.Number;
        summaryOfCases.Username = tips.Description;
        StateHasChanged();
        return Task.CompletedTask;
    }
    private string OnGetDisplayText(PatientsTips tips)
    {
        return $"{tips.Number} - {tips.Description}";
    }
}
