

@page "/SummaryreportPage"

@inject IDbContextFactory<MedicalDbContext> Contextfactory
@inject UserManager<IdentityUser> Usermanager

<div >
    <div class="row">
        <div class="col-7 col-sm-7 col-lg-7 col-xl-7">
            <ValidateForm Model="@Sreport">
                <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.FormRow">
                    <BootstrapInput @bind-Value="@Sreport.Medicalrecordnumber" placeholder="请输入..."></BootstrapInput>
                    <BootstrapInput @bind-Value="@Sreport.UserName" placeholder="请输入 ..."></BootstrapInput>
                </Row>
                <Row ItemsPerRow="ItemsPerRow.One" RowType="RowType.FormRow">
                    <BootstrapInput @bind-Value="@Sreport.Summaryreportclass"></BootstrapInput>
                    <DateTimePicker @bind-Value="@Sreport.Notesdate" placeholder="请输入 ..."></DateTimePicker>
                </Row>

                <Row ItemsPerRow="ItemsPerRow.One" RowType="RowType.FormRow">

                    <Textarea placeholder="请输入 ..." rows="5" @bind-Value="@Sreport.Treatmentplan"></Textarea>

                    <Textarea placeholder="请输入 ..." rows="5" @bind-Value="@Sreport.Clinicalsymptoms"></Textarea>
                    @*<BootstrapInput @bind-Value="@Sreport.Treatmentplan" placeholder="请输入病历号"></BootstrapInput>
            <BootstrapInput @bind-Value="" placeholder="请输入病历号"></BootstrapInput>*@
                </Row>
            </ValidateForm>
            <div class="d-flex justify-content-end">
                <label style="color: red;font-size: 18px;margin-right: 25px;">@Errorinfo</label>
                <Button @onclick="OnValueChanged">提交保存</Button>
            </div>
        </div>
        <div class="col-5 col-sm-5 col-lg-5 col-xl-5">

        </div>
    </div>
    <Message @ref="MessageElement" ></Message>
</div>
    @code {
        private Summaryreport Sreport { set; get; } = new();


        [CascadingParameter]
        private Task<AuthenticationState> authenticationStateTask { get; set; }


        private Message MessageElement { set; get; }

        [Inject]
        private MessageTag Messagetagservice { set; get; }

        [Inject]
        private MessageService? Messageservice { set; get; }

        [Inject]
        public DialogService? Dialogservice { set; get; }


        private string Errorinfo { set; get; }

        private void  OnValueChanged()
        {
            using (var context = Contextfactory.CreateDbContext())
            {
                var s = context.Summaryreports.Where(W => W.Medicalrecordnumber == Sreport.Medicalrecordnumber).FirstOrDefault();

                if (s == null)
                {
                    context.Summaryreports.Add(Sreport);
                    context.SaveChanges();
                    ShowMessage(Color.Success, "医学监护流程添加成功");
                }else
                {
                    Errorinfo = "请检查病历号是否重复输入";
                    ShowMessage(Color.Danger, "医学监护流程添加失败");
                }

            }

            return;
        }

        private void ShowMessage( Color color,string content)
        {
            MessageElement.SetPlacement(Placement.Top);
            Messageservice?.Show(new MessageOption()
            {
                Host = MessageElement,
                Content = content,
                Icon = "fa fa-info-circle",
                Color = Color.Success
            });
        }
    }
