


@page "/X_rayphotographyPage"
@using System.Reflection

@inject DialogService? Dialogservice 
@inject IDbContextFactory<MedicalDbContext> ContextFactor
@inject UserManager<IdentityUser> Usermanager

<div class="ml-5 mr-5" >
    <div class=" mt-5 d-flex justify-content-between">
        <Button style="width:220px;" OnClick="@(s=>OnShowX_rayDialog1())" Size="Size.ExtraLarge" IsOutline="true" Color="Color.Info">影像学检查</Button>
        <Button style="width:220px;" OnClick="@(s=>OnShowX_rayDialog2())" Size="Size.ExtraLarge" IsOutline="true" Color="Color.Info">纤维支气管镜检查</Button>
        <Button style="width:220px;" OnClick="@(s=>OnShowX_rayDialog3())" Size="Size.ExtraLarge" IsOutline="true" Color="Color.Info">病理检查</Button>

    </div>
    <div class="mt-5">
        <Row RowType="RowType.FormRow" ItemsPerRow="ItemsPerRow.Two">

            <BootstrapInput @bind-Value="@Querywhere" placeholder="请输入名称或者病历号..."></BootstrapInput>
            <Button Color="Color.Primary"  ButtonStyle="ButtonStyle.Round" IsOutline="true" > 查 询 </Button>
        </Row>
    </div>

    <div class="mt-5">

        <Row RowType="RowType.FormRow" ItemsPerRow="ItemsPerRow.Three">
            <Select @bind-Value="@SelectTable" OnSelectedItemChanged="OnSelectTableChanged">
                <Options>
                    <SelectOption Text="影像学检查" Value="1"></SelectOption>
                    <SelectOption Text="纤维支气管镜检查" Value="2"></SelectOption>
                    <SelectOption Text="病理检查" Value="3"></SelectOption>
                </Options>

            </Select>
        </Row>
        @switch (SelectTable)
        {
            case 1:
                <Table TItem="X_rayImaging" Items="@X_RayImagings" IsPagination="true" IsStriped="true" IsBordered="true" IsMultipleSelect="true"
                       ShowToolbar="true" ShowAddButton="false" ShowEditButton="false" ShowDeleteButton="false"
                       ShowExtendButtons="false" ShowColumnList="true" AutoGenerateColumns="true">
                    <RowButtonTemplate>
                        <TableCellButton Size="Size.ExtraSmall" Color="Color.Primary" Icon="fa fa-edit" Text="明细" />@*OnClickCallback="@(() => OnRowButtonClick(context))"*@
                        <TableCellButton Size="Size.ExtraSmall" Color="Color.Success" Icon="fa fa-edit" Text="编辑" />
                    </RowButtonTemplate>
                </Table>
                break;
            case 2:
                <Table TItem="X_raybronchoscopy" Items="@x_Raybronchoscopies" IsPagination="true" IsStriped="true" IsBordered="true" IsMultipleSelect="true"
                       ShowToolbar="true" ShowAddButton="false" ShowEditButton="false" ShowDeleteButton="false"
                       ShowExtendButtons="false" ShowColumnList="true" AutoGenerateColumns="true">
                    <RowButtonTemplate>
                        <TableCellButton Size="Size.ExtraSmall" Color="Color.Primary" Icon="fa fa-edit" Text="明细" />@*OnClickCallback="@(() => OnRowButtonClick(context))"*@
                        <TableCellButton Size="Size.ExtraSmall" Color="Color.Success" Icon="fa fa-edit" Text="编辑" />
                    </RowButtonTemplate>
                </Table>
                break;
            case 3:
                <Table TItem="X_raypathological" Items="@X_Raypathologicals" IsPagination="true" IsStriped="true" IsBordered="true" IsMultipleSelect="true"
                       ShowToolbar="true" ShowAddButton="false" ShowEditButton="false" ShowDeleteButton="false"
                       ShowExtendButtons="false" ShowColumnList="true" AutoGenerateColumns="true">
                    <RowButtonTemplate>
                        <TableCellButton Size="Size.ExtraSmall" Color="Color.Primary" Icon="fa fa-edit" Text="明细" />@*OnClickCallback="@(() => OnRowButtonClick(context))"*@
                        <TableCellButton Size="Size.ExtraSmall" Color="Color.Success" Icon="fa fa-edit" Text="编辑" />
                    </RowButtonTemplate>
                </Table>
                break;
            default:
                break;
        }

    </div>
</div>








@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


}
