





@inject ISnackbar Snackbar
@inject EnumServer EServer

<MudDialog>
     <TitleContent>
    </TitleContent>
    
    <DialogContent>
        <DialogBingPersonalFile  Tile="采样信息" BingPatientInfoChanged="@OnBingPersonalFile" ></DialogBingPersonalFile>
        <EditForm Model="@MedicalValue" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
            <MudCard Elevation="0" >
                <MudCardContent>
                  
                    <MudGrid Spacing="5" >
                        <MudItem  lg="6" md="6" xl="6" sm="12"  >
                            <MudStack Row="false">
                                <MudAutocomplete  Clearable="true" T="string" Label="标本类型"  @bind-Value="@MedicalValue.SpecimenType" For="@(() => MedicalValue.SpecimenType)"
                                                SearchFunc="@OnAutoSearchSpecimenType" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true" />
                                <MudTextField   T="DateTime?" Format="s" InputType="InputType.DateTimeLocal"  @bind-Value="@MedicalValue.CollectDateTime" For="@(() => MedicalValue.CollectDateTime)" Label="采集时间" Variant="Variant.Text" />
                                <MudTextField   T="DateTime?" Format="s" InputType="InputType.DateTimeLocal" @bind-Value="@MedicalValue.StartDateTime" For="@(() => MedicalValue.StartDateTime)" Label="采血当日开始给药时间" Variant="Variant.Text" />
                                <MudTextField   T="DateTime?" Format="s" InputType="InputType.DateTimeLocal" @bind-Value="@MedicalValue.EndDateTime" For="@(() => MedicalValue.EndDateTime)" Label="采血当日输注完时间" Variant="Variant.Text" />
                                <MudTextField   T="DateTime?" Format="s" InputType="InputType.DateTimeLocal" @bind-Value="@MedicalValue.LastDateTime" For="@(() => MedicalValue.LastDateTime)" Label="采血前最后一次给药时间" Variant="Variant.Text" />


                            </MudStack>

                        </MudItem>
                        <MudItem  lg="6" md="6" xl="6" sm="12"  >
                            <MudFab OnClick="OpenCollectingvesselDialog" Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Add" Label="添加血样试管" />
                          
                        
                            <MudTable T="MedicalPKSamplingsample" Items="@Samplingsamples" Hover="true" Breakpoint="Breakpoint.Sm"  Style="height:300px"  >
                                <HeaderContent>
                                
                                       <MudTh><b>采样点</b></MudTh>
                                        <MudTh><b>采血试管</b></MudTh>
                                        <MudTh><b>采血时间</b></MudTh>
                                        <MudTh><b>操作</b></MudTh>
                                  
                                </HeaderContent>
                                <RowTemplate Context="e">
                                    <MudTd DataLabel="采样点">@e.SamplingNumber</MudTd>
                                    <MudTd DataLabel="采血试管">@e.Collectingvessel</MudTd>
                                    <MudTd DataLabel="采血时间">@e.C1bloodcollectiontime</MudTd>
                                    <MudTd DataLabel="操作">
                                        <MudIconButton OnClick="@(s=>OnOpenDialogInfo(e))" Size="Size.Small" Icon="@Icons.Filled.Info" ></MudIconButton>
                                
                                    </MudTd>
                              
                                </RowTemplate>
                            </MudTable>
@*                            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true"  Style="height:300px">
                                <thead>
                                    <tr>
                                        @foreach (var h in headings)
                                        {
                                            <th>@h</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                      <tr>
                                        @foreach (var row in Samplingsamples)
                                        {
                                            <td>@row.SamplingNumber</td>
                                            <td>@row.Collectingvessel</td>
                                            <td>@row.C1bloodcollectiontime</td>
                                            <td><MudButton  OnClick="@(s=>OnOpenDialogInfo(row))" Size="Size.Small" >11</MudButton></td>

                                            <MudIconButton OnClick="@(s=>OnOpenDialogInfo(row))" Size="Size.Small" Icon="@Icons.Filled.InfoOutlined" ></MudIconButton>
                                
                                        }
                                    </tr>
                                </tbody>
                            </MudSimpleTable>*@
                        </MudItem>
                    </MudGrid>
                </MudCardContent>

                 <MudCardActions  Class="my-5">
                    <MudStack Row="true" Justify="Justify.FlexEnd"  Style="width:100%" >
                        <MudButton OnClick="@(s=> MudDialog.Cancel())">取消</MudButton>
                        <MudButton StartIcon="@Icons.Outlined.Save"  ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" >保存</MudButton>
                    </MudStack>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </DialogContent>
</MudDialog>




@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    //   [CascadingParameter] MudDialogInstance MudDialog { get; set; }


    [Parameter]
    public MedicalPKSampling MedicalValue { set; get; } 

    [Inject]
    protected IDbContextFactory<MedicalDbContext> ContextFactory{ set; get; }
    /// <summary>
    /// 当前方案绑定的个人基本信息
    /// 表示添加的方案属于哪个患者
    /// </summary>
    /// [Required(ErrorMessage = "PatientInfo必须填写")]
    private PatientInfo? BingPatientInfo{ set; get; } 

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }



    /// <summary>
    /// 标识编辑进入  还是添加进入
    /// </summary>
    [Parameter]
    public bool IsEdit{ set; get; }

    /// <summary>
    /// 打开采血管对话框
    /// </summary>
    public bool CollectingvesselVisible{ set; get; }

    //private void OpenDialogCollectingvessel() => CollectingvesselVisible = true;
    //private    void Submit() => CollectingvesselVisible = false;
    [Inject] 
    protected IDialogService DialogService  { get; set; }


    protected List<MedicalPKSamplingsample> Samplingsamples { set; get; } = new List<MedicalPKSamplingsample>();

    private async Task OpenCollectingvesselDialog()
    {
        DialogOptions dialogOptions = new() { 
             FullWidth = true,
              MaxWidth=MaxWidth.ExtraSmall
         };

        var parameters = new DialogParameters();
        parameters.Add("IsEdit",false);

        var dialog =DialogService.Show<DialogBloodSample2>("1",parameters,dialogOptions);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var p = result.Data as MedicalPKSamplingsample;

            Samplingsamples.Add(p);

            return ;
        }
        StateHasChanged();

    }


    /// <summary>
    /// 删除数据采血样试管
    /// </summary>
    /// <returns></returns>
    private async Task OnOpenDialogInfo(MedicalPKSamplingsample samplingsample)
    {

        DialogOptions dialogOptions = new() { 
             FullWidth = true,
              MaxWidth=MaxWidth.ExtraSmall
         };

        var parameters = new DialogParameters();
        parameters.Add("MedicalValue",samplingsample);
        parameters.Add("IsEdit",true);
        parameters.Add("IsDelete",true);

        var dialog =DialogService.Show<DialogBloodSample2>("1",parameters,dialogOptions);

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var isdelete = (bool)result.Data;

            if(isdelete)
            {
                Samplingsamples.Remove(samplingsample);
            }
            return ;
        }
        StateHasChanged();

    }

    protected override void OnParametersSet()
    {
        if(MedicalValue is  null)
        {
            MedicalValue = new  MedicalPKSampling();
        }

        base.OnParametersSet();
    }



    /// <summary>
    /// 表单提交
    /// </summary>
    /// <param name="editcontext"></param>
    private void OnValidSubmit(EditContext editcontext)
    {

        if (BingPatientInfo is null) return;
        if (IsEdit)
        {
            Edit(editcontext);
        }
        else
        {
            Create(editcontext);

        }

        Snackbar.Add("数据添加成功",Severity.Success);
        StateHasChanged();
        MudDialog.Close(DialogResult.Ok(editcontext.Model));
    }

    private  Task Edit(EditContext editcontext)
    {
        var editModel = (MedicalPKSampling)editcontext.Model;
        using var context = ContextFactory.CreateDbContext();
        context.MPK_Samplings.Update(editModel);
        context.SaveChanges();

        return Task.CompletedTask;
    }

    private  Task Create(EditContext editcontext)
    {
        var username = authenticationStateTask.Result.User.Identity.Name;
        var  createModel = (MedicalPKSampling)editcontext.Model;
        createModel.Adminname = username;
        createModel.Createtime = DateTime.Now;
        createModel.Guid = BingPatientInfo.Guid;
        createModel.Username = BingPatientInfo.Username;
        createModel.Medicalrecordnumber = BingPatientInfo.Medicalrecordnumber;

        createModel.medicalPKSamplings = new List<MedicalPKSamplingsample>();
        createModel.medicalPKSamplings.AddRange(Samplingsamples);

        using var context = ContextFactory.CreateDbContext();
        context.MPK_Samplings.Add(createModel);
        context.SaveChanges();
        return Task.CompletedTask;
    }

    /// <summary>
    /// 标本类型
    /// </summary>
    /// <param name="value"></param>
    /// <returns></returns>
    private async Task<IEnumerable<string>> OnAutoSearchSpecimenType(string value)
    {
        if (string.IsNullOrEmpty(value))
            return EnumItems.SpecimenTypeEnum;
        return EnumItems.SpecimenTypeEnum.Where(x => x.Contains(value));
    }


    /// <summary>
    /// 给药频率
    /// </summary>
    /// <param name="value"></param>
    /// <returns></returns>
    private async Task<IEnumerable<string>> OnAutoSearchDrugNCount(string value)
    {
        if (string.IsNullOrEmpty(value))
            return EnumItems.DrugNCountEnum;
        return EnumItems.DrugNCountEnum.Where(x => x.Contains(value));
    }


    /// <summary>
    /// 给药持续时间
    /// </summary>
    /// <param name="value"></param>
    /// <returns></returns>
    private async Task<IEnumerable<string>> OnAutoSearchDrugNCountDuration(string value)
    {
        if (string.IsNullOrEmpty(value))
            return EnumItems.DrugNCountDurationEnum;
        return EnumItems.DrugNCountDurationEnum.Where(x => x.Contains(value));
    }

    /// <summary>
    /// 给药途径
    /// </summary>
    /// <param name="value"></param>
    /// <returns></returns>
    private async Task<IEnumerable<string>> OnAutoSearchDrugdosageRoute(string value)
    {
        if (string.IsNullOrEmpty(value))
            return EnumItems.DrugdosageRouteEnum;
        return EnumItems.DrugdosageRouteEnum.Where(x => x.Contains(value));
    }

    /// <summary>
    /// 给药计量单位
    /// </summary>
    /// <param name="value"></param>
    /// <returns></returns>
    private async Task<IEnumerable<string>> OnAutoSearchDrugdosageUnit(string value)
    {
        if (string.IsNullOrEmpty(value))
            return EnumItems.DrugdosageUnit;
        return EnumItems.DrugdosageUnit.Where(x => x.Contains(value));
    }

    private  Task OnBingPersonalFile(PatientInfo patient)
    {
        BingPatientInfo = patient;
        
        return Task.CompletedTask;
    }

    
    
}
