

<ValidateForm Model="@medicalPK">
  <label>患者信息</label>
  <AutoFill TValue="PatientsTips" Value="patientsTips" Items="DataTips.PatientsTips" IsLikeMatch="true" OnSelectedItemChanged="OnAutoFillSelectedItemChanged" OnGetDisplayText="OnGetDisplayText" class="mb-3" IsSelectAllTextOnFocus="true">
                            <Template>
                                <div class="d-flex">
                                    <div>
                                        <img src="/img/gezi.png" class="bb-avatar" style="max-width:48px;" />
                                    </div>
                                    <div class="ps-2">
                                        <div>@context.Number</div>
                                        <div class="bb-sub">@context.Description</div>
                                    </div>
                                </div>
                            </Template>
     </AutoFill>
    <BootstrapInput @bind-Value="medicalPK.MedicalPKName"></BootstrapInput>

    <Row ItemsPerRow=" ItemsPerRow.Four">
        <BootstrapInput @bind-Value="medicalPK.DrugsNmae"></BootstrapInput>
        <BootstrapInput @bind-Value="@medicalPK.DrugsNmae2"> </BootstrapInput>
        <BootstrapInput @bind-Value="@medicalPK.DrugSpecifications"> </BootstrapInput>
        <Select @bind-Value="@medicalPK.Manufacturertype"></Select>


    </Row>
    <Row ItemsPerRow=" ItemsPerRow.Two">

        <DateTimePicker @bind-Value="@medicalPK.FirstTime"> </DateTimePicker>
        <DateTimePicker @bind-Value="@medicalPK.LasttTime"> </DateTimePicker>

    </Row>
    <Row ItemsPerRow=" ItemsPerRow.Four">

        <BootstrapInput @bind-Value="@medicalPK.Drugdosage"> </BootstrapInput>
        <Select @bind-Value="@medicalPK.DrugdosageUnit"> </Select>

        <Select @bind-Value="@medicalPK.DrugNCount"> </Select>

        <Select @bind-Value="@medicalPK.DrugNCountDuration"> </Select>
        <BootstrapInput @bind-Value="@medicalPK.DrugdosageRoute"> </BootstrapInput>
        <BootstrapInput @bind-Value="@medicalPK.DrugSolvent"> </BootstrapInput>

        <BootstrapInput @bind-Value="@medicalPK.SolventToDosage"> </BootstrapInput>
        <BootstrapInput @bind-Value="@medicalPK.AMTsingledose"> </BootstrapInput>

    </Row>
</ValidateForm>

@code {


    private MedicalPK medicalPK { set; get; } = new();


    [Parameter]
    public EventCallback<MedicalPK> OnEventCallback { set; get; } = new();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter(Name = "BodyContext")]
    public object? MedicalPKobject { set; get; }

    protected override void OnParametersSet()
    {
        if(MedicalPKobject is not null)
        {
            medicalPK = MedicalPKobject as MedicalPK;
        }

        base.OnParametersSet();
    }
    public PatientsTips patientsTips{ set; get; }  

    private Task OnAutoFillSelectedItemChanged(PatientsTips tips )
    {
        medicalPK.Medicalrecordnumber = tips.Number;
        medicalPK.Username = tips.Description;
        StateHasChanged();
        return Task.CompletedTask;
    }
    private string OnGetDisplayText(PatientsTips tips)
    {
        return $"{tips.Number} - {tips.Description}";
    }
}
