


<ValidateForm Model="@patientInfo">
    <Row ItemsPerRow="ItemsPerRow.Four" RowType="RowType.FormRow">

        <BootstrapInput @bind-Value="@patientInfo.Medicalrecordnumber" />
        <BootstrapInput @bind-Value="@patientInfo.Department" />
        <BootstrapInput @bind-Value="@patientInfo.Name" />
        <Select @bind-Value="@patientInfo.Gender" />



        <Row RowType="RowType.FormRow" ColSpan="3" ItemsPerRow="ItemsPerRow.Six">
            <BootstrapInput @bind-Value="@patientInfo.AGE" />
            <p  >sdfsdfsdf</p>

            <BootstrapInput @bind-Value="@patientInfo.BW" />
            <Radio> asdasd</Radio>
            <Radio> asdasd</Radio>
        </Row>
        


        
        
        <BootstrapInput @bind-Value="@patientInfo.BSA" />
        <BootstrapInput @bind-Value="@patientInfo.HEI" />
        <BootstrapInput @bind-Value="@patientInfo.SOFA" />

        <BootstrapInput @bind-Value="@patientInfo.APACHEⅡ" />
        <BootstrapInput @bind-Value="@patientInfo.Ancestralhome" />
        <BootstrapInput @bind-Value="@patientInfo.GCS" />
        <BootstrapInput @bind-Value="@patientInfo.Nationality" />

        <Row RowType="RowType.FormRow" ColSpan="4">
            <BootstrapInput @bind-Value="@patientInfo.Medicalhistorysummary" />
        </Row>

    </Row>
</ValidateForm>


@code {


    [CascadingParameter(Name = "BodyContext")]
    public object? objects { set; get; }

    [Parameter]
    public PatientInfo patientInfo { set; get; }


    [Parameter]
    public EventCallback<PatientInfo> OnEventCallback { set; get; }


    protected override Task OnInitializedAsync()
    {
        patientInfo = objects as PatientInfo;
        return base.OnInitializedAsync();
    }
}
