





<div style="font-size:24px;font-weight:700" class="w-100 d-flex">
    <GroupBox Title="药敏试验" style="padding-top:50px;">
        <div style="font-size:16px;font-weight:500">
            <ValidateForm Model="@medicalPD_DrugAllergy">
                <Row ItemsPerRow="ItemsPerRow.One">
                    <Select @bind-Value="@medicalPD_DrugAllergy.TestorisNot"></Select>
                    <DateTimePicker @bind-Value="@medicalPD_DrugAllergy.TestTime"></DateTimePicker>
                    <Select @bind-Value="@medicalPD_DrugAllergy.DrugsName"></Select>
                </Row>
                <Row ItemsPerRow="ItemsPerRow.Two">
                    <BootstrapInput @bind-Value="@medicalPD_DrugAllergy.Medicalrecordnumber"></BootstrapInput>
                    <BootstrapInput @bind-Value="@medicalPD_DrugAllergy.Username"></BootstrapInput>
                    <Select @bind-Value="@medicalPD_DrugAllergy.DrugsensitivityTest"></Select>
                    <BootstrapInput @bind-Value="@medicalPD_DrugAllergy.DrugsensitivityTestOther"></BootstrapInput>
                </Row>
                <Divider></Divider>

                <Row ItemsPerRow="ItemsPerRow.Two">
                    <BootstrapInput @bind-Value="@medicalPD_DrugAllergy.MIC"></BootstrapInput>
                    <Select @bind-Value="@medicalPD_DrugAllergy.Susceptibility"></Select>
                    <BootstrapInput @bind-Value="@medicalPD_DrugAllergy.TMic"></BootstrapInput>
                    <BootstrapInput @bind-Value="@medicalPD_DrugAllergy.AUCMic"></BootstrapInput>
                </Row>
                <Row ItemsPerRow="ItemsPerRow.One">
                   

                </Row>
            </ValidateForm>
        </div>
    </GroupBox>
</div>

@code {

    [CascadingParameter(Name = "BodyContext")]
    public object? DrugAllergy { set; get; }


    private MedicalPD_DrugAllergy medicalPD_DrugAllergy { set; get; }



    [Parameter]
    public EventCallback<MedicalPD_DrugAllergy> OnEventCallback { set; get; }


    protected override void OnParametersSet()
    {
        medicalPD_DrugAllergy = DrugAllergy as MedicalPD_DrugAllergy;
        base.OnParametersSet();
    }
}