<h3>PDDlg</h3>



<EditorForm Model="@medicalPD" AutoGenerateAllItem="false" ItemsPerRow=3>
    <FieldItems>
        <EditorItem @bind-Field="@medicalPD.Inspectiontime" Editable="true" />
        <EditorItem @bind-Field="@medicalPD.SpecimenType" Editable="true" />
        <EditorItem @bind-Field="@medicalPD.Reporttime" Editable="true" />
        <EditorItem @bind-Field="@medicalPD.MIC" Editable="true" />
        <EditorItem @bind-Field="@medicalPD.NGSinformation" Editable="true" />




    </FieldItems>
    @*<Buttons>
            <Button Icon="fa fa-save" Text="提交" />
        </Buttons>*@
</EditorForm>

@code {

    public MedicalPD medicalPD { set; get; } = new MedicalPD();

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

}
