
<div class="container">

    <ValidateForm Model="@x_RayImaging">
        <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.FormRow">
            <BootstrapInput @bind-Value="@x_RayImaging.Medicalrecordnumber" ShowLabel="true"></BootstrapInput>
            <BootstrapInput @bind-Value="@x_RayImaging.Username" ShowLabel="true"></BootstrapInput>
            <DateTimePicker @bind-Value="@x_RayImaging.Photodate" ShowLabel="true"></DateTimePicker>
            <DateTimePicker @bind-Value="@x_RayImaging.Reportdate" ShowLabel="true"></DateTimePicker>

        </Row>

        <Row ItemsPerRow="ItemsPerRow.One" RowType="RowType.FormRow">
            <Select @bind-Value="@x_RayImaging.Xrayimagingenum" ShowLabel="true"></Select>
            <Select @bind-Value="@x_RayImaging.XrayImaginglocationenum" ShowLabel="true"></Select>
            <Textarea rows="3" @bind-Value="@x_RayImaging.Describe" ShowLabel="true"></Textarea>
            <p>上传图片</p>
        </Row>

    </ValidateForm>
    
</div>
<div class="row">
    <div class="col-12">
        @*<p>本例中设置 <code>ShowProgress=true</code> 显示上传进度条</p>*@
        <CardUpload Accept="image/ipg,image/png,image/jpeg" TValue="string" ShowProgress="true" OnChange="@OnCardUpload" OnDelete="@(fileName => Task.FromResult(true))"></CardUpload>
    </div>
</div>


@code {


}
