
<div class="container">

    <ValidateForm Model="@x_RayImaging">
        <Row ItemsPerRow="ItemsPerRow.Two" RowType="RowType.Normal">
          @*  <BootstrapInput @bind-Value="@x_RayImaging.Medicalrecordnumber" ShowLabel="true"></BootstrapInput>
            <BootstrapInput @bind-Value="@x_RayImaging.Username" ShowLabel="true"></BootstrapInput>
            *@
             <label>患者信息</label>
              <AutoFill TValue="PatientsTips" Value="patientsTips" Items="DataTips.PatientsTips" IsLikeMatch="true" OnSelectedItemChanged="OnAutoFillSelectedItemChanged" OnGetDisplayText="OnGetDisplayText" class="mb-3" IsSelectAllTextOnFocus="true">
                            <Template>
                                <div class="d-flex">
                                    <div>
                                        <img src="/img/gezi.png" class="bb-avatar" style="max-width:48px;" />
                                    </div>
                                    <div class="ps-2">
                                        <div>@context.Number</div>
                                        <div class="bb-sub">@context.Description</div>
                                    </div>
                                </div>
                            </Template>
            </AutoFill>
            <DateTimePicker @bind-Value="@x_RayImaging.Photodate" ShowLabel="true"></DateTimePicker>
            <DateTimePicker @bind-Value="@x_RayImaging.Reportdate" ShowLabel="true"></DateTimePicker>

        </Row>

        <Row ItemsPerRow="ItemsPerRow.One" RowType="RowType.Normal">
            <Select @bind-Value="@x_RayImaging.Xrayimagingenum" ShowLabel="true"></Select>
            <Select @bind-Value="@x_RayImaging.XrayImaginglocationenum" ShowLabel="true"></Select>
            <Textarea rows="3" @bind-Value="@x_RayImaging.Describe" ShowLabel="true"></Textarea>
            <p>上传图片</p>
        </Row>

    </ValidateForm>
    
</div>
<div class="row">
    <div class="col-12">
        @*<p>本例中设置 <code>ShowProgress=true</code> 显示上传进度条</p>*@
        <CardUpload Accept="image/ipg,image/png,image/jpeg" TValue="string" ShowProgress="true" OnChange="@OnCardUpload" OnDelete="@OnFileDelete"></CardUpload>
    </div>
</div>


@code {
    public PatientsTips patientsTips{ set; get; }  

    private Task OnAutoFillSelectedItemChanged(PatientsTips tips )
    {
        x_RayImaging.Medicalrecordnumber = tips.Number;
        x_RayImaging.Username = tips.Description;
        StateHasChanged();
        return Task.CompletedTask;
    }
    private string OnGetDisplayText(PatientsTips tips)
    {
        return $"{tips.Number} - {tips.Description}";
    }

}
